<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DownloadFolder" value="/FromRNN/VAST_HITS" />
    <add key="SaveFolder_Downloads" value="\\Soter\EDI\RNN\Downloads" />
    <add key="SaveFolder_Uploads" value="\\Soter\EDI\RNN\Uploads" />
    <add key="SaveFolder_AccountCertificate" value="\\IMAGESERVER\TEMP_IM\{0}\SCRA Scrub (D{1}){2}.pdf" />
    <!--<add key="Naming_Certificates" value="(?&lt;datetime&gt;[\d]{14})-(?&lt;caseNo&gt;[\d]{5})-(?&lt;clientId&gt;[\d]{4})-Military( )?Certificates\.zip" />-->
    <add key="Naming_Certificates" value="(SCRA_Files_Split_(?&lt;caseNo&gt;[\d]{5,6})\.zip)|((?&lt;datetime&gt;[\d]{14})-(?&lt;caseNo&gt;[\d]{5,6})-(?&lt;clientId&gt;[\d]{4})-Military( )?Certificates\.zip)" />
    <add key="Naming_Hits" value="(?&lt;datetime&gt;[\d]{14})-(?&lt;caseNo&gt;[\d]{5,6})-(?&lt;clientId&gt;[\d]{4})-Military( )?Hits\.csv" />
  </appSettings>
  <connectionStrings>
    <add name="ALLCLS" connectionString="Data Source=SQL1;Initial Catalog=ALLCLS;Integrated Security=True" />
    <add name="ControlPanels" connectionString="Data Source=SQL1;Initial Catalog=ControlPanels;Integrated Security=True" />
    <add name="STDB" connectionString="Data Source=SQL1;Initial Catalog=STDB;Integrated Security=True" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
