<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SaveLocation" value="\\Soter\Company_Share\Walz\Download" />
    <add key="SFTP_TO_Location" value="/Usr/WG1172HOS/ToWalz" />
    <add key="SFTP_FROM_Location" value="/Usr/WG1172HOS/FromWalz" />
  </appSettings>
  <connectionStrings>
    <add name="ALLCLS" connectionString="Data Source=SQL1;Initial Catalog=ALLCLS;Integrated Security=True" />
    <add name="ControlPanels" connectionString="Data Source=SQL1;Initial Catalog=ControlPanels;Integrated Security=True" />
    <add name="Walz" connectionString="Data Source=SQL1;Initial Catalog=Walz;Integrated Security=True" />
    <add name="IT" connectionString="Data Source=SQL1;Initial Catalog=IT;Integrated Security=True" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.63.0.0" newVersion="4.63.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
