<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.26.0.0" newVersion="6.26.0.0" />
	  </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<!-- The application ID from your app registration -->
		<add key="appId" value="a160054a-9b85-43fa-9247-5632ac8d2c17" />
		<!-- The tenant ID copied from your app registration -->
		<add key="tenantId" value="b964694f-0cb9-4e9b-b605-51693b7011ef"/>
		<!-- The application's client secret from your app registration. Needed for application permission access -->
		<add key="clientSecret" value="z088Q~U1qwc9WLTLRx~QFjJFOAJLFbvDJF1PXbMB"/>
	</appSettings>
</configuration>
