<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CriteriaSets" value=""/>
    <add key="CriteriaOptions" value=""/>
    <add key="CriteriaCodes" value=""/>
    <add key="CriteriaCodeStrings" value=""/>
    <add key="CriteriaCodeLists" value=""/>
    <add key="Action_Add_SimpleSet" value=""/>
    <add key="Action_Remove_SimpleSet" value=""/>
    <add key="Action_Update_SimpleSet" value=""/>
    <add key="Action_Add_CodeList" value=""/>
    <add key="Action_Remove_CodeList" value=""/>
    <add key="Action_Update_CodeList" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ALLCLS" connectionString="Data Source=SQL1;Initial Catalog=ALLCLS;Integrated Security=True"/>
    <add name="CriteriaDB" connectionString=""/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
